.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  background: linear-gradient(180deg, #13131a 0%, #0f1323 100%);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-right: 0.3px solid #6c93d3;
  grid-row: 1/-1;
  color: aliceblue;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.logoTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.85);
}

.logoImage {
  width: 70px;
}
.navMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #747474;
  position: relative;
  padding: 0.5rem 2rem;
}

.link:hover {
  background: linear-gradient(
    86.16deg,
    rgba(104, 149, 255, 0) 3.14%,
    rgba(199, 174, 252, 0.4) 99.61%,
    rgba(144, 91, 255, 0.4) 114.63%
  );
color: #fff;
}

.navItems {
  position: relative;
  cursor: pointer;
  display: flex;
}
.navItems :global(.active) {
  background: linear-gradient(
    86.16deg,
    rgba(104, 149, 255, 0) 3.14%,
    rgba(199, 174, 252, 0.4) 99.61%,
    rgba(144, 91, 255, 0.4) 114.63%
  );
  color: #fff;
}

.bottom {
  margin-top: auto;
  padding-bottom: 4rem;
}
